<% include ../partials/head %>

<body class="text-center" id="work-background">

  <div class="container">
    
    <header>
        <div class="banner-container">
          <img src="/img/webbanner.svg">
        </div>
        <nav class="nav justify-content-center nav-pills">
              <a class="nav-link" href="/">HOME</a>
              <a class="nav-link active" href="/gallery/index">WORK</a>
            <!--  <a class="nav-link vert-center" href="/"><span><img src="img/tomkat-logo.png"></span></a>-->
              <a class="nav-link" href="/contact">CONTACT</a>
        </nav>
    </header>
    
    <% projects.forEach(function(projects){ %>
      <a href="/gallery/<%= projects.title %>">
        <div class="square bg" style="background-image:url('<%= projects.thumbUrl %>')">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    <p><%= projects.title %></p>
                </div>
            </div>
        </div>
      </div>
      </a>
    <% }) %>

<!--final div included in footer.ejs-->
<% include ../partials/footer %>