<% include ../partials/head %>
    
  <div class="content">
    <div class="gallery-grid-container">
      <% for (let project of projects) { %>
        <a href="/gallery/<%= type %>/<%= project.title %>">
            <div class="gallery-grid-item" style="background:url('/img/thumbnails/<%= project.thumbPath %>') no-repeat; background-size: cover"> 
              <p><%= project.title %></p>
            </div>
        </a>
      <% } %>
    </div>
  </div>
  
<div class="footer" style="position:relative">
  <% include ../partials/footer %>
</div>