<% include ../partials/head %>
    
  <div style="padding-top:20px">
    <% projects.forEach((project) => { %>
      <a href="/gallery/<%= type %>/<%= project.title %>">
        <figure class="effect-lily">
        <div class="square bg" style="background-image:url('/img/thumbnails/<%= project.thumbPath %>')">
          <p><%= project.title %></p>
        </div>
        </figure>
      </a>
    <% }) %>
  </div>
  
<% include ../partials/footer %>