<% include ../partials/head %>

<body class="text-center full-body">
  
  <div class="container">
    
    <header>
      <div class="banner-container">
        <img src="/img/webbanner.svg">
      </div>
      <nav class="nav justify-content-center nav-pills">
            <a class="nav-link" href="/">HOME</a>
            <a class="nav-link" href="/gallery/index">WORK</a>
          <!--  <a class="nav-link vert-center" href="/"><span><img src="img/tomkat-logo.png"></span></a>-->
            <a class="nav-link" href="/contact">CONTACT</a>
      </nav>
    </header>
    
    <div class="container">
        <img class="detail-img" style="height:auto; max-width:100%" src="<%= projects.imageUrl %>">
    </div>
    
<!--final div included in footer.ejs-->
<% include ../partials/footer %>