<% include ./partials/head %>

    <div class="content">
    <div class="contact-grid">
        <div class="contact-info mdc-card">
            <h1>Toronto, ON</h1>
            <p >Connect with us online or meet up for a coffee</p>
            <ul id="social-bar">
                <li><a href="mailto:tomkatcreative@gmail.com"><span class="fas fa-envelope-square"></span></a></li>
                <li><a href="https://www.facebook.com/TomKat-Creative-2118278055069329/"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="https://www.instagram.com/tomkatcreative/"><span class="fab fa-instagram"></span></a></li>
                <li><a href="https://github.com/Garrison88"><span class="fab fa-github-square"></span></a></li>
            </ul>
        </div>
        <div class="contact-gif">
            <img src="/img/jellyegg-contact.gif">
        </div>
        </div>
    </div>
    <div class="footer" style="position:absolute">
        <% include ./partials/footer %>
    </div>