<% include ./partials/head %>
<!--initial body and div included in head.ejs-->

  <div class='container' id="contact-wrapper">
    <img src="/img/jellyegg-contact.gif">
    <h1>Hamilton, ON</h1>
    <p >Connect with us online or meet up for a coffee</p>
    <ul id="social-bar">
        <li><a href="mailto:tomkatcreative@gmail.com"><i class="fas fa-envelope-square"></i></a></li>
        <li><a href="https://www.facebook.com/TomKat-Creative-2118278055069329/"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/tomkatcreative/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://goo.gl/maps/4bmVUMdh1bG2"><i class="fas fa-map-marker"></i></a></li>
    </ul>
  </div>

<!--final div included in footer.ejs-->
<% include ./partials/footer %>
