<% include ../../partials/head %>
<!--initial body and div included in head.ejs-->
    
  <hr>
  
  <div class="container">
    <div>
      <div id="b">
          <span><a href="javascript:history.back()">Go Back</a></span>
      </div>
      <div>
        <h4><%= project.title %></h4>
      </div>
    </div>
      <div>
        <p id="project-description"><%= project.description %></p>
      </div>
      <% if (project.videoEmbedUrl) { %>
    <div class='embed-container'>
      <iframe src='https://<%= project.videoEmbedUrl %>' width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
      <% } else { %>
        <img class="main-image" src="/img/<%= project.image %>">
      <% } %>
  </div>
    
<!--final div included in footer.ejs-->
<% include ../../partials/footer %>