  /*==================*/
 /*INDEX ROUTE STYLES*/
/*==================*/

/* 2 columns for small devices */
.square {
  float: left;
  position: relative;
  width: 48%;
  padding-bottom : 48%; /* = width for a 1:1 aspect ratio */
  margin: 0.5%;
  overflow: hidden;
}

/* 3 columns for medium devices */
@media only screen and (min-width: 426px) {
  .square {
    width: 32.3%;
    padding-bottom : 32.3%;
  }
}
/* 4 columns for large devices */
@media only screen and (min-width: 769px) {
  .square {
    width: 24%;
    padding-bottom : 24%;
  }
}

.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.content {
  position:absolute;
  height:100%; 
   /*= 100% - 2*10% padding */
  width:100%; 
   /*= 100% - 2*5% padding */
  /*padding: 5%;*/
}

.table {
  display:table;
  height:100%;
  width:100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.table-cell p {
  color:#000;
  background: rgba(255,255,255,0.7);
  margin: 0;
}

/*#gallery-thumbail:focus {*/
  /*transition: all 250ms ease;*/
/*  visibility: visible;*/
/*  margin: 0;*/
/*}*/

  /*=================*/
 /*SHOW ROUTE STYLES*/
/*=================*/

.main-image {
  height: auto;
  max-width: 100%;
  outline: none !important;
}

/*this centers the title*/

/*#a {*/
/*    text-align: center;*/
/*    position: relative;*/
/*}*/

#b {
    position: absolute;
}

/*#d {*/
/*    display: inline-block;*/
/*}*/