@import "gallery.css";

/*most general and fonts*/

html {

height: 100%;
/*padding-bottom: 5%;   */
}

body {
  background-size: cover;
 
  /*padding-bottom: 30px;*/
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

  /*======*/
 /*HEADER*/
/*======*/

@media only screen and (min-width: 600px) {
  #header {
    width: 50%;
  }  
}

  /*==========*/
 /*NAVIGATION*/
/*==========*/

/*dropdown menu*/

.btn-secondary,
.dropdown-item {
  border: none;
  background-color: transparent;
  color: #007876;
  padding: 8px 16px;
  text-decoration: none;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

.dropdown-menu {
  background: rgba(255,255,255,0.9);
  border: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #f48484;
}

/*main nav links*/

.nav a:hover,
.nav a:focus,
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  transition: all 250ms ease;
  color: white;
  background-color: #f48484;
  text-decoration: none;
}

.nav-pills .nav-link {
  margin: 0 1em;
}

a {
  text-decoration: none;
  color: #007876;
}

  /*=========*/
 /*HOME PAGE*/
/*=========*/

#home-background {
  background-image: url('/img/thierry.gif');
}

  /*============*/
 /*GALLERY PAGE*/
/*============*/

/*see gallery.css*/

  /*============*/
 /*CONTACT PAGE*/
/*============*/

#contact-background {
  background-color: #b2d2d1;
}

#contact-wrapper img {
  margin: -2.7em 0 -1.75em 0;
  z-index: -1;
  width: 15em;
  position: relative;
}

#social-bar {
  font-size: 2em;
  list-style-type: none;
  padding: 0;
}

#social-bar li,
#social-bar a {
  color: #232323;
  background: none;
  display: inline;
  padding: 0 5px;
}

#social-bar a:hover {
  color: #f48484;
  transition: 0.5s;
}

  /*======*/
 /*FOOTER*/
/*======*/

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5%;
  background: rgba(255,255,255,0.9);
  text-align: center;
}

  /*==========*/
 /*RESPONSIVE*/
/*==========*/

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}*/