<% include ../partials/head %>

  <body class="text-center full-body" id="contact-background">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      
      <header class="masthead mb-auto">
        <div class="inner">
          <span><img src="img/webbanner05.svg"></span>
          <ul class="nav nav-pills nav-justified justify-content-center">
            <li class="nav-item">
              <a class="nav-link vert-center" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link vert-center" href="/work">Work</a>
            </li>
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link vert-center" href="/"><span><img src="img/tomkat-logo.png"></span></a>-->
            <!--</li>-->
            <li class="nav-item">
              <a class="nav-link vert-center active" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Hamilton, ON</h1>
        <p class="lead">Connect with us online or meet up for a coffee</p>
        <ul id="social-bar">
            <li><i class="fas fa-envelope-square"></i></li>
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><a href="https://goo.gl/maps/4bmVUMdh1bG2"><i class="fas fa-map-marker"></i></a></li>
        </ul>
      </main>

    <!--final div included in footer.ejs-->
    <% include ../partials/footer %>
