<% include ../partials/head %>

  <body class="text-center full-body" id="work-background">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      
      <header class="masthead mb-auto">
        <div class="inner">
          <span><img src="img/webbanner05.svg"></span>
          <ul class="nav nav-pills nav-justified justify-content-center">
            <li class="nav-item">
              <a class="nav-link vert-center" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link vert-center active" href="/work">Work</a>
            </li>
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link vert-center" href="/"><span><img src="img/tomkat-logo.png"></span></a>-->
            <!--</li>-->
            <li class="nav-item">
              <a class="nav-link vert-center" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </header>

      <main role="main" class="inner cover">
        <!--<h1 class="cover-heading">Creations</h1>-->
        <!--<p class="lead">Your one stop shop for all everything from animation to eCommerce websites</p>-->
        <!--<p class="lead">-->
        <!--  <a href="#" class="btn btn-lg btn-secondary">Learn more</a>-->
        <!--</p>-->
      </main>

  <!--final div included in footer.ejs-->
  <% include ../partials/footer %>