// DIMENSIONS
$md-card-corner-radius: 5px;
$md-card-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px;
// COLOURS
$tk-coral: #f48484;
$tk-teal: #007876;
$tk-light-blue: #b2d2d1;
$tk-peach: #fbd1c0;
$tk-orange: #e75625;